{% extends 'accounts/dashboard/base/base.html' %}
{% block title %}داشبورد{% endblock %}
{% block banner_title %}به صفحه خودتان خوش آمدید!{% endblock %}
{% block content %}
    <section id="dashboard" class="card">
            <h2>داشبورد</h2>
            <div class="stats">
                <div class="stat-item">
                    <h3>5</h3>
                    <p>سفارش‌های اخیر</p>
                </div>
                <div class="stat-item">
                    <h3>1,200,000 تومان</h3>
                    <p>مبلغ کل خرید</p>
                </div>
                <div class="stat-item">
                    <h3>12</h3>
                    <p>محصول خریداری‌شده</p>
                </div>
            </div>
        </section>
        <section id="orders" class="card">
            <h2>سفارش‌ها</h2>
            <table>
                <thead>
                    <tr>
                        <th>شماره سفارش</th>
                        <th>تاریخ</th>
                        <th>وضعیت</th>
                        <th>مبلغ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#12345</td>
                        <td>1404/01/10</td>
                        <td>در حال پردازش</td>
                        <td>320,000 تومان</td>
                    </tr>
                    <tr>
                        <td>#12346</td>
                        <td>1404/01/15</td>
                        <td>تحویل داده شده</td>
                        <td>580,000 تومان</td>
                    </tr>
                </tbody>
            </table>
        </section>
{% endblock %}