{% extends 'accounts/dashboard/base/base.html' %}
{% load static %}
{% block title %}سفارشات{% endblock %}

{% block banner_title %}سفارشات{% endblock %}

{% block content %}

{#        <form method="post" class="delete">#}
            <section id="orders" class="card">
            <h2>سفارش‌ها</h2>
            <table>
                <thead>
                    <tr>
                        <th>شماره سفارش</th>
                        <th>تاریخ</th>
                        <th>وضعیت</th>
                        <th>مبلغ</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>#12345</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total_price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

{#        </form>#}
{% endblock %}