{% load static %}
<!doctype html>

      <div class="social">
         <ul>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-send"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
         </ul>
      </div>

      <div class="top2">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="login">

                     <a href="" class="mybtn"><i class="fa"></i>تاریخچه سفارشات</a>
                     <a href="" class="mybtn"><i class="fa"></i>پروفایل</a>
                     <a href="{% url 'shop:home_page' %}" class="mybtn"><i class="fa"></i>بازگشت به سایت</a>
                  </div>
               </div>

            </div>
         </div>
      </div>

