{% load static %}
<!doctype html>




      <div class="social">
         <ul>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-send"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
         </ul>
      </div>
            
      <div class="top2">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="login">

                      {% if not request.user.is_authenticated %}
                     <a href="{% url 'accounts:login_page' %}?next={{ request.path }}" class="mybtn"><i class="fa fa-user-o"></i>ورود</a>
                     <a href="{% url 'accounts:register_page' %}?next={{ request.path }}" class="mybtn"><i class="fa fa-user-plus"></i>ثبت نام</a>
                          {% else %}
                     <a href="{% url 'accounts:logout_page' %}?next={{ request.path }}" class="mybtn"><i class="fa fa-user-o"></i>خروج از حساب</a>
                      {% endif %}

                     <a href="{% url 'shop:cart_page' %}" class="mybtn"><i class="fa fa-cart-arrow-down"></i>سبد</a>  				
                  </div>
               </div>
               <div class="col-md-6">
                  <form method="get" action="{% url 'shop:search_results' %}" >
                     <input type="text" name="value" placeholder="کالای مورد نظر را جستجو کنید">
                     <button type="submit" ><i class="fa fa-search"></i></button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      </div>

      
<div class="main-menu">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <ul>
                     <li>
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            {% for category in digit_categories %}
                           <li><a href="{% url 'shop:filter_category' category.slug%}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                     </li>
                     <li><a href="#">آرایشی و بهداشتی</a></li>
                     <li>
                        <a href="#">مد و پوشاک</a>
                        <ul>
                           <li><a href="#">لباس فصل</a></li>
                           <li><a href="#">ساعت  مچی</a></li>
                           <li><a href="#">بدلیجات</a></li>
                        </ul>
                     </li>
                     <li><a href="#">خانه و آشپزخانه</a></li>
                     <li><a href="#">ابزار اداری</a></li>
                     <li><a href="#">اسباب بازی</a></li>
                     <li>
                        <a href="#">اخبار</a>
                        <ul>
                           <li><a href="#">تکنولوژی</a></li>
                           <li><a href="#">علم و دانش</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <br>